<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ayushi Patel</a>
        <h3 class="display-6">&copy;2022 All rights reserved.</h3>
      </div>
      
    </nav>
    </footer>